# Пайтон
*.pyc
*.pyo
*.pyd
__pycache__/
*.db
*.sqlite3
*.log

# Миграции базы данных Django
*/migrations/

# Папки для виртуальных окружений
venv/
env/
.venv/
.virtualenv/
env.bak/
venv.bak/

# Django secrets
*.env
*.env.*

# Статические файлы
/static/
/media/

# PyCharm
.idea/

# Visual Studio Code
.vscode/

# Для системы macOS
.DS_Store

# Для системы Windows
Thumbs.db

# Для IDE и редакторов (например, JetBrains)
.idea/
*.sublime-workspace
*.sublime-project

# Прочее (например, временные файлы)
*.bak
*.swp
*.swo
